#sitio-web {
    .dropdown-menu.drop-agencias {
        li  {
            a {
                background-image:url(../images/ico-confia.png);
                background-repeat: no-repeat;
                background-position: 5px center;
                padding-left: 35px;
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: solid 1px #ddd;
                font-size: 0.85rem;
                color: #555;
                &:visited {
                    color: #555;

                }
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}