#sitio-web {
    .slider-agencia {
        .agencia-direccion {
            p:last-child {
                margin-bottom: 0;
            }
        }
        .agencia-horario {
            p:last-child {
                margin-bottom:  0;
            }
        }
    }
}

