#sitio-web {
  .toggler-visor-pdf {
    .header {
      cursor: pointer;
      background-color: #0062cc;
      border: solid 1px darken(#0062cc, 5%);
      border-radius: 5px;
      padding: 10px 20px;
      box-shadow: 2px 2px 4px #999;
      margin-bottom: 10px;

      &:hover {
        background-color: darken(#0062cc, 15%);
      }

      h3 {
        color: #fff;
        font-weight: 700;
        margin-bottom: 0;
      }
    }

    .content {
      background-color: #ddd;
      padding: 10px;
      object {
        width: 100%;
        background-color: #ddd;
        border-radius: 5px;
        border: solid 1px #d6dce3;
      }
    }
  }
}