body #sitio-web {

    [class^="afp-confia-layout"] {
        #column-3 {
            .bot {
                margin-right:12px;
            }
        }
    }

    .bot {
        a {
            display: block;
            padding-left: 12px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-right: 12px;
            border-radius: 10px;
            border: solid 1px #ddd;
            color: #212121;
            background: #dddddd;
            background-image: -moz-linear-gradient(top, #dddddd 0%, #ffffff 60%);
            background-image: -webkit-linear-gradient(top, #dddddd 0%, #ffffff 60%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff', GradientType=0);

            &:hover {
                color: #212121;
                background-image: -moz-linear-gradient(top, #ffffff 0%, #dddddd 60%);
                background-image: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 60%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd', GradientType=0);
            }
            &:visited {
                color: #212121;
            }

            img {
                margin-top: 0;
                margin-bottom: 0;
                margin-left:0;
                margin-right: 12px;
                float:left;
                width:100%;
                max-width:50px;
                height:auto;

            }
        }
        &.bot-big {
            text-align:center;
            a {
                color: #0490D8;
                line-height:1;
                span {
                    font-size:1.5rem;
                }
                &:hover {
                    color: #10336C;
                }
            }
        }
    }
    .bot-db {
        a {
            background-color: #fff;
            border: solid 1px #8db5c3;
            border-radius: 5px;
            box-shadow: 0 0 0 5px #cbe0e3;
            padding:12px;
            display:block;
            font-weight:700;
            font-size:0.75rem;
            line-height: 1.2;
            
            &:hover {
                box-shadow: 0 0 0 5px darken(#cbe0e3,10%);
                background-color: #f6fafc;
            }
            img {
                margin-top: 0;
                margin-bottom: 0;
                margin-left:0;
                margin-right: 12px;
                float:left;
                width:100%;
                max-width:35px;
                height:auto;
            }
        }
    }
    .bot a:after, .bot-db a:after {
        content: "";
        display:table;
        clear:both;

    }
}