body {
    #sitio-web {
        #headerPrincipal {
            background-image: url(../images/bg-header.jpg);
            background-position: center top;
            background-repeat: repeat-x;

            #logoPrincipal {
                position: relative;
                top: 26px;
            }

            .search-input-wrapper {
                padding: 10px;
                background-color: #0060aa;
                border-radius: 0 0 10px 10px;
            }

            #login {
                min-height: 100px;
                max-height: 100px;
                .portlet {
                    margin-bottom:0;
                }
                h2 {
                    font-size: 0.9rem;
                    font-weight: 400;
                }

                .mensaje {
                    margin: 0;
                    padding: 0 0 5px;
                    font-size: 0.70rem;
                    line-height: 1.2;
                    text-align:right;
                }

                .dropdown-menu {
                    max-width: 100%;
                    width: 100%;
                    border-radius: 0;
                }
            }
        }


    }
}


 @media (max-width: 767.98px) {
    body {
        #sitio-web {
            #headerPrincipal {
                background-image:none;
                background-color: #064a83;
                .row-logos {
                    background-color:#d8dcdd;
                    background-image:url(../images/bg-ppal.jpg);
                    .row-logos-sub {
                        background-color: #d8dcdd;
                        border-radius: 0 0 5px 5px;
                    }
                }
                #login {
                    max-height:100%;
                    padding:10px 5px;
                    .mensaje {
                        font-size: 0.60rem;
                    }
                }
            }
        }
    }
}